.mp--about-us-page-container {
  h2 {
    margin-bottom: 0.5rem;
  }
  .mp--page-title {
    h1 {
      margin-left: 3rem;
    }
  }
  margin-top: $top-bar-height__large;
  @media only screen and (max-width: $medium) {
    margin-top: $top-bar-height__small;
  }

  .director-info-container {
    margin-bottom: 3.5rem;
    @media only screen and (max-width: $medium) {
      padding: 2rem;
    }
  }

  .director-image-wrapper {
    overflow: hidden;
    text-align: center;
    @media only screen and (max-width: $medium) {
      margin-bottom: 2rem;
    }
    img {
      height: 412px;
      width: 412px;
      object-fit: cover;
    }
    .director-info {
      margin-top: 0.5rem;
      text-decoration: underline;
    }
  }

  .director-description-wrapper {
    padding: 0 3rem;
    @include breakpoint(medium down) {
      padding: 0;
    }
  }

  .mp--our-process-container {
    background: var(--navy-blue);
    color: white;
    width: 100%;
    padding-bottom: 4rem;
    .container-title {
      margin: 2.5rem 0;
    }
    .process-info-row {
      padding: 0 5rem;
      min-height: 150px;
      @include breakpoint(small down) {
        padding: 0 3rem;
      }
      .arrow-wrapper__desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

    .process-info-wrapper {
      color: white;
      max-width: 350px;
      h2, p {
        text-align: center;
      }
      .arrow-wrapper__mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        img {
          margin: 0 auto;
        }
      }
    }
    .process-info-item-wrapper {
      @include breakpoint(medium down) {
        margin: 0 auto;
      }
    }
  }
}