body {
  font-family: $site-font-family;
  margin: 0;
  &.home-page {
    .bm-burger-bars {
      background: white !important;
    }
    .mp--main-container {
      main {
        width: 100%;
        margin-top: 0;
        @include breakpoint(small down) {
          margin-top: 0;
        }
      }
    }
  }
}

.mp--main-container {
  //padding-top: 150px;
  display: flex;
  justify-content: center;
  &--inner {
    width: 100%;
    max-width: $site-max-width;
    margin: 0 auto;
  }

  main {
    width: 100%;
    margin-top: $page-container-top-margin__large;
    @include breakpoint(small down) {
      margin-top: $page-container-top-margin__small;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
    @media only screen and (max-width: $medium) {
      text-align: center;
    }
  }
}
