body {
  font-family: $site-font-family;
  margin: 0;
  &.home-page {
    .bm-burger-bars {
      background: white !important;
    }
  }
}

.mp--main-container {
  //padding-top: 150px;
  display: flex;
  justify-content: center;
  &--inner {
    width: 100%;
    max-width: $site-max-width;
    margin: 0 auto;
  }

  main {
    width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
    @media only screen and (max-width: $medium) {
      text-align: center;
    }
  }
}
