$navy-blue: #033568;
$dark-blue: #1C202B;
$blue-grey: #7F8595;
$light-periwinkle: #DDE1EC;
$neutral: #5B5E66;

$site-max-width: 1440px;
$site-font-family: 'Noto Sans JP', sans-serif;

$top-bar-offset-height__large: 150px;
