.mp--footer {
  width: 100%;
  background: var(--dark-blue);
  color: white;
  &--inner {
    padding: 5rem 0;
    @media only screen and (max-width: $medium) {
      padding: 2rem 0;
    }
  }
  .footer-logo-wrapper {
    display: flex;
    justify-content: center;
  }
  .footer-nav-wrapper {
    display: flex;
    @media only screen and (max-width: $medium) {
      flex-direction: column;
      align-items: center;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      margin: 1rem;
      padding-bottom: 1rem;
    }
    a {
      width: 7rem;
      text-align: center;
      text-decoration: none;
      color: white;
      margin-top: 1rem;
    }
    @media only screen and (max-width: $medium) {
      a {
        width: 6rem;
      }
    }
    a:hover {
      text-decoration: underline;
    }
    a:active {
      text-decoration: underline;
    }
  }

  .footer-contact-info {
    .footer-connect-heading {
      font-size: 1.2rem;
      width: 100%;
      text-align: center;
    }
    .footer-address {
      line-height: 1.7;
      padding: 1rem 0;
      @media only screen and (max-width: $medium) {
        text-align: center;
      }
    }
    .footer-email {
      @media only screen and (max-width: $medium) {
        text-align: center;
      }
    }
  }

  .mp--copyright-notice {
    padding-bottom: 2rem;
    text-align: center;
  }
}
