.mp--button-primary {
  background: $navy-blue;
  color: white;
  border: none;
  box-shadow: 0 2px 8px 0 $blue-grey;
}
.mp--button-primary:hover {
  box-shadow: 0 2px 8px 0 white;
}
.mp--button-primary:active {
  box-shadow: 0 2px 8px 0 white;
}

.mp--button-secondary {
  background: white;
  color: $navy-blue;
  border: 1px solid $navy-blue;
  box-shadow: 0 2px 8px 0 rgba(127, 133, 149, 0.28);
}
.mp--button-secondary:hover {
  box-shadow: 0 2px 8px 0 $navy-blue;
}
.mp--button-secondary:active {
  box-shadow: 0 2px 8px 0 $navy-blue;
}

.mp--button-tertiary {
  background: $dark-blue;
  color: white;
  border: 1px solid $dark-blue;
  box-shadow: 0 2px 8px 0 rgba(127, 133, 149, 0.28);
}
.mp--button-tertiary:hover {
  box-shadow: 0 2px 8px 0 $navy-blue;
}
.mp--button-tertiary:active {
  box-shadow: 0 2px 8px 0 $navy-blue;
}
