.mp--topbar {
  display: flex;
  z-index: 9999;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: $top-bar-offset-height__large;
  background: transparent;
  transition: all 0.3s ease;
  &.scroll {
    background: white;
  }

  &--inner {
    //max-width: $site-max-width;
    height: 100%;
    //display: flex;
  }

  .topbar-grid-container {
    height: 100%;
  }

  .logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    @media only screen and (max-width: $medium) {
      img {
        margin: 1rem;
      }
    }
  }

  .bm-item {
    color: $light-periwinkle;
    text-decoration: none;
    transition: all 0.2s ease;
    outline: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  .bm-item:hover {
    color: $light-periwinkle;
    text-decoration: underline;
  }
  .bm-item:active {
    color: $light-periwinkle;
    text-decoration: underline;
  }

  .bm-menu-wrap {
    background: $navy-blue;
  }

  .topbar-elements-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
      width: 7rem;
      text-align: center;
      text-decoration: none;
      color: $neutral;
    }
    @media only screen and (max-width: $medium) {
      a {
        width: 6rem;
      }
    }
    a:hover {
      text-decoration: underline;
      color: $dark-blue;
    }
    a:active {
      text-decoration: underline;
      color: $dark-blue;
    }

    .active {
      text-decoration: underline;
      color: $dark-blue;
    }
  }

  .get-quote-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    //button {
    //  margin: 3rem;
    //}
    @media only screen and (max-width: $medium) {
      button {
        margin: 1rem;
      }
    }
  }
}