.mp--topbar {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;

  .logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
  }

  .topbar-elements-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .get-quote-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}