.mp--more-info-composer {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.normal-font {
    span {
      font-size: 1.2rem;
    }
  }
  &.border-top {
    border-top: 1px solid var(--light-periwinkle);
  }
  span {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  button {
    margin-top: 15px;
  }
  @media only screen and (max-width: $medium) {
    height: 200px;
    span {
      font-size: 1.4rem;
      margin-bottom: 0.9rem;
    }
  }
}
