.mp--homepage-container {
  .mp--homepage--first-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .background-curve {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 50%;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, $navy-blue, $light-periwinkle);
      clip-path: ellipse(85.7% 60% at 86% 50%);
      z-index: -5;
    }

    &-info-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
        .introduction-text {
          display: flex;
          width: 600px;
          max-width: 100vw;
          span {
            font-size: 2.8rem;
            @include breakpoint(small down) {
              font-size: 2rem;
            }
            font-weight: bold;
            text-align: right;
            width: 50%;
          }
          .we-design {
            color: var(--navy-blue);
          }
          .we-deliver {
            color: var(--light-periwinkle);
            margin-left: 1rem;
            @include breakpoint(small down) {
              text-align: left;
            }
          }
        }
      .introduction-description {
        margin: 1rem;
        text-align: center;
      }
      .introduction-cta {
        margin: 1rem;
      }
      .scroll-down-indicator {
        position: absolute;
        bottom: 10px;
        img, svg {
          height: 36px !important;
          width: 36px !important;
        }
      }
      //}
    }
  }

  .mp--homepage--second-section {
    background: var(--navy-blue);
    width: 100%;
    .second-section-heading {
      text-align: center;
      padding: 3rem 0;
      color: white;
      font-size: 1.5rem;
      @media only screen and (max-width: $medium) {
        font-size: 1.2rem;
        padding: 3rem 0 1rem;
      }
    }

    .service-info-item-container {
      .service-info-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .service-info-description {
        height: 260px;
        color: white;
        .title {
          font-size: 1.8rem;
          margin-top: 3rem;
        }
        .text {
          margin-top: 1.3rem;
          line-height: 1.8;
        }
      }

      &__mobile {
        height: 397px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        max-width: 285px;
        border: 1px solid white;
        margin: 2rem auto;
        padding: 0 1rem;
        .service-info-img-wrapper {
          margin-top: 3rem;
          img {
            max-height: 110px;
          }
        }
        .service-info-description {
          .title {
            font-size: 1.5rem;
            margin: 1rem 0;
            text-align: center;
          }
          .text {
            font-size: 0.9rem;
          }
        }
      }
    }

    .swiper-container {
      .swiper-pagination-bullets {
        bottom: 50px;
      }
    }
  }

  .mp--homepage--third-section {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      text-align: center;
    }
    @media only screen and (max-width: $medium) {
      height: 200px;
      span {
        font-size: 1.4rem;
        margin-bottom: 0.9rem;
      }
    }
  }
}
