@mixin mpInputStyles {
  font-size: 1.1rem;
  border-radius: 0 !important;
  max-width: 100%;
  border: 2px solid var(--light-periwinkle);
  transition: all 0.2s ease;
  outline: none;
  font-family: $site-font-family;
  &:hover {
    border: 2px solid var(--navy-blue);
  }
  &:active {
    border: 2px solid var(--navy-blue);
  }
  &:focus {
    border: 2px solid var(--navy-blue);
  }
}

.mp--input-composer {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  &.error {
    input, textarea {
      border: 2px solid $danger;
    }
  }
  span {
    margin: 0.8rem 0;
    width: 100%
  }
  .error-message {
    color: $danger;
  }
  input {
    height: 50px;
    padding-left: 0.7rem;
    @include mpInputStyles();
  }
  textarea {
    padding: 0.7rem;
    @include mpInputStyles();
  }
}
